.tts-wrapper {
    display: none;
    position: fixed;
    left: 20px;
    width: 288px;
    bottom: 20px;
    height: 102px;
    z-index: 1040;
    user-select: none;
    -webkit-user-select: none;
    cursor: all-scroll
}

.tts-wrapper.normal {
    bottom: 20px
}

.tts-wrapper.vertical {
    bottom: 320px
}

.tts-wrapper.horizontal {
    bottom: 199px
}

.tts-wrapper .tts-container {
    position: absolute;
    width: 288px;
    height: 102px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding-top: 16px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
    bottom: 0;
    left: 0
}

.tts-wrapper .tts-container.show-voice {
    height: 238px
}

.tts-wrapper .tts-container.playing .playing-ani,
.tts-wrapper .tts-container.loading .loading-ani {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    left: 50%;
    top: 0;
    z-index: 5;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .5)
}

.tts-wrapper .tts-container.playing .playing-ani:after,
.tts-wrapper .tts-container.loading .loading-ani:after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover
}

.tts-wrapper .tts-container.playing .playing-ani:after {
    background-image: url(../img/playing_01d801f.gif)
}

.tts-wrapper .tts-container.loading .loading-ani:after {
    background-image: url(../img/loading_5cc2acd.gif)
}

.tts-wrapper .tts-container.mute .volume-container .volume-icon,
.tts-wrapper .tts-container.mute .volume-container .ctrl-icon {
    background-image: url(../img/voice_mute_01be5ba.png)
}

.tts-wrapper .tts-container .icon {
    opacity: .8;
    display: block
}

.tts-wrapper .tts-container .disable-icon {
    cursor: default;
    opacity: .3
}

.tts-wrapper .tts-container .enable-icon:hover,
.tts-wrapper .tts-container .active-icon {
    opacity: 1;
    cursor: pointer
}

.tts-wrapper .tts-container .active-icon {
    position: relative
}

.tts-wrapper .tts-container .active-icon:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 22px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .1);
    background-size: cover
}

.tts-wrapper .tts-info {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 32px 0 16px;
    margin-bottom: 12px;
    z-index: 3
}

.tts-wrapper .tts-info .image-container {
    position: relative;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    margin-right: 8px
}

.tts-wrapper .tts-info .image-container:after {
    content: "";
    position: absolute;
    display: block;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, .1);
    z-index: 1000;
    transform-origin: 0 0
}

.tts-wrapper .tts-info .image-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden
}

.tts-wrapper .tts-info .image-wrapper .image {
    flex-shrink: 0;
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: auto;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%
}

.tts-wrapper .tts-info .title {
    color: #fff;
    width: 100%;
    position: relative;
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer
}

.tts-wrapper .tts-info .title.default {
    height: 34px
}

.tts-wrapper .tts-info .title.default:after {
    position: absolute;
    content: '';
    display: block;
    width: 258px;
    height: 34px;
    background: url(../img/skeleton_da185f9.png);
    top: 50%;
    background-size: cover;
    left: 0;
    transform: translateY(-50%);
    border-radius: 2px
}

.tts-wrapper .tts-voice {
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    padding: 12px 16px 0 12px;
    width: 100%;
    height: 124px;
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, .2);
    margin-bottom: 12px
}

.tts-wrapper .tts-voice .voice-notice {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.tts-wrapper .tts-voice .choose-title {
    font-size: 14px;
    line-height: 1;
    color: #fff;
    margin-right: 6px
}

.tts-wrapper .tts-voice .choose-tips {
    display: none;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-weight: 200;
    opacity: .7
}

.tts-wrapper .tts-voice .choose-icon {
    position: absolute;
    top: 58px;
    width: 16px;
    height: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover
}

.tts-wrapper .tts-voice .choose-icon.left-icon {
    left: 0;
    background-image: url(../img/scroll-left_a86f8e3.png)
}

.tts-wrapper .tts-voice .choose-icon.left-icon:hover {
    cursor: pointer;
    background-image: url(https://bkssl.bdimg.com/static/wiki-lemma/widget/feature/Audio/image/scroll-left-hover_f82fd07.png)
}

.tts-wrapper .tts-voice .choose-icon.right-icon {
    right: 0;
    background-image: url(../img/scroll-right_f7a6886.png)
}

.tts-wrapper .tts-voice .choose-icon.right-icon:hover {
    cursor: pointer;
    background-image: url(../img/scroll-right-hover_6abe6b4.png)
}

.tts-wrapper .tts-voice .voice-list {
    padding-left: 6px;
    flex-wrap: nowrap;
    height: 70px;
    padding-top: 16px;
    -ms-overflow-style: none;
    overflow-x: scroll;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    scrollbar-height: none
}

.tts-wrapper .tts-voice .voice-list::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent
}

.tts-wrapper .tts-voice .voice-list .voice-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56px;
    cursor: pointer
}

.tts-wrapper .tts-voice .voice-list .voice-item:hover .voice-border {
    display: block
}

.tts-wrapper .tts-voice .voice-list .voice-item:hover .voice-title {
    opacity: 1
}

.tts-wrapper .tts-voice .voice-list .voice-item:not(:last-child) {
    margin-right: 14px
}

.tts-wrapper .tts-voice .voice-list .voice-item.active .voice-border {
    display: block
}

.tts-wrapper .tts-voice .voice-list .voice-item.active .voice-checked {
    display: block
}

.tts-wrapper .tts-voice .voice-list .voice-item.active .voice-title {
    opacity: 1
}

.tts-wrapper .tts-voice .voice-list .voice-image {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    border-radius: 8px
}

.tts-wrapper .tts-voice .voice-list .voice-border {
    position: absolute;
    display: none;
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    border: 2px solid #315efb;
    border-radius: 10px
}

.tts-wrapper .tts-voice .voice-list .voice-title {
    white-space: nowrap;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    line-height: 1;
    opacity: .7
}

.tts-wrapper .tts-voice .voice-list .voice-checked {
    position: absolute;
    display: none;
    top: -7px;
    right: 0;
    width: 14px;
    height: 14px;
    background: url(../img/voice_checked_aae5d16.png) no-repeat 0 0;
    background-size: cover
}

.tts-wrapper .tts-tools {
    position: relative;
    z-index: 4;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.tts-wrapper .tts-tools .play-icon {
    width: 24px;
    height: 24px;
    background: url(../img/pause_5b61797.png) 0 0 no-repeat;
    background-size: cover
}

.tts-wrapper .tts-tools .play-icon.continue {
    width: 24px;
    height: 24px;
    background: url(../img/play_9a0dec6.png) 0 0 no-repeat;
    background-size: cover
}

.tts-wrapper .tts-tools .next-icon {
    display: none;
    width: 16px;
    height: 16px;
    background: url(../img/next_d39d53d.png) 0 0 no-repeat;
    background-size: 16px 16px
}

.tts-wrapper .tts-tools .progress-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between
}

.tts-wrapper .tts-tools .current-time,
.tts-wrapper .tts-tools .end-time {
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 28px;
    color: rgba(255, 255, 255, .7);
    line-height: 1;
    font-weight: 200;
    cursor: default
}

.tts-wrapper .tts-tools .current-time {
    margin-right: 6px
}

.tts-wrapper .tts-tools .progress-bar {
    position: relative;
    width: 76px;
    height: 2px;
    margin-right: 6px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .16)
}

.tts-wrapper .tts-tools .progress-bar .progress-bar-inner {
    position: absolute;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1px;
    height: 100%;
    left: 0;
    top: 0
}

.tts-wrapper .tts-tools .voice-icon {
    width: 16px;
    height: 16px;
    background: url(../img/voice_chose_2ebe2d3.png) 0 0 no-repeat;
    background-size: 16px 16px
}

.tts-wrapper .tts-tools .volume-container {
    position: relative
}

.tts-wrapper .tts-tools .volume-container .volume-icon {
    width: 16px;
    height: 16px;
    background: url(../img/voice_volume_f8d5c9b.png) 0 0 no-repeat;
    background-size: 16px 16px
}

.tts-wrapper .tts-tools .volume-container .voice-volume {
    display: none;
    position: absolute;
    width: 30px;
    height: 116px;
    z-index: 4;
    border-radius: 12px;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3)
}

.tts-wrapper .tts-tools .volume-container .volume-bar {
    position: absolute;
    cursor: pointer;
    left: 50%;
    bottom: 31px;
    width: 4px;
    height: 75px;
    border-radius: 2px;
    background-color: rgba(183, 184, 185, .3);
    transform: translateX(-50%)
}

.tts-wrapper .tts-tools .volume-container .volume-bar .volume-point {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    z-index: 1;
    background-color: #fff;
    transition: transform .3s;
    width: 8px;
    height: 8px
}

.tts-wrapper .tts-tools .volume-container .volume-bar .volume-point:hover {
    transform: translate(-50%, 0) scale(1.6)
}

.tts-wrapper .tts-tools .volume-container .volume-bar .volume-active-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    background-color: #fff
}

.tts-wrapper .tts-tools .volume-container .ctrl-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background: url(../img/voice_volume_f8d5c9b.png) 0 0 no-repeat;
    background-size: 16px 16px
}

.tts-wrapper .front {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, .6);
    z-index: 2;
    border-radius: 12px
}

.tts-wrapper .background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
    z-index: 1;
    overflow: hidden
}

.tts-wrapper .background {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover
}

.tts-wrapper .background.blur {
    filter: blur(15px);
    -webkit-filter: blur(15px);
    background-image: url(../img/avatar_default_a111866.png)
}

.tts-wrapper .close-icon {
    position: absolute;
    z-index: 3;
    padding: 6px;
    width: 12px;
    height: 12px;
    top: 2px;
    right: 2px;
    opacity: .8;
    background: url(../img/close_2a9dcc7.png) center no-repeat;
    background-size: 12px 12px
}

.body-wrapper .cur-play-catalog .audio-play.part-audio-play {
    color: #459DF5
}

.body-wrapper .cur-play-catalog .audio-play.part-audio-play em {
    color: #459DF5
}

.body-wrapper .currnet-audio-para.para {
    color: #459DF5
}

.body-wrapper .currnet-audio-para.lemmaWgt-lemmaTitle-title h1 {
    color: #459DF5
}

.body-wrapper .currnet-audio-para h2.title-text,
.body-wrapper .currnet-audio-para h3.title-text {
    color: #459DF5
}

.body-wrapper .currnet-audio-para.basic-info .basicInfo-block .basicInfo-item {
    color: #459DF5
}

.body-wrapper .currnet-audio-para.timeAxis-card-wrapper .timeAxis-item-time,
.body-wrapper .currnet-audio-para.timeAxis-card-wrapper .timeAxis-item-title,
.body-wrapper .currnet-audio-para.timeAxis-card-wrapper .timeAxis-item-detail p {
    color: #459DF5
}

.body-wrapper .currnet-audio-para.poem-originalWorks .poem-note__annotationContent,
.body-wrapper .currnet-audio-para.poem-notes .poem-note__annotationContent,
.body-wrapper .currnet-audio-para.poem-vernacularTranslation .poem-note__annotationContent,
.body-wrapper .currnet-audio-para.poem-originalWorks .poem-translate__translationContent,
.body-wrapper .currnet-audio-para.poem-notes .poem-translate__translationContent,
.body-wrapper .currnet-audio-para.poem-vernacularTranslation .poem-translate__translationContent,
.body-wrapper .currnet-audio-para.poem-originalWorks p,
.body-wrapper .currnet-audio-para.poem-notes p,
.body-wrapper .currnet-audio-para.poem-vernacularTranslation p {
    color: #459DF5
}

.body-wrapper .audio-hover-bg {
    background-color: #F0F7FE
}

.body-wrapper .para-audio-play {
    display: none;
    font-size: 16px;
    background-color: #459DF5;
    color: #fff;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    vertical-align: text-top
}

.body-wrapper .para-title .para-audio-play {
    vertical-align: baseline;
    margin-left: 5px
}