@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.structured-skeleton-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px
}

.structured-skeleton {
    width: 390px;
    padding: 15px 20px;
    border: 1px solid #f5f5f5;
    box-sizing: border-box
}

.structured-skeleton:first-child {
    margin-right: 10px
}

.structured-skeleton .skeleton-title {
    width: 150px;
    height: 22px;
    background-color: #f5f5f5;
    border-radius: 2px;
    background: #f6f5f5;
    background: linear-gradient(90deg, #f6f5f5 25%, #eee 37%, #f6f5f5 63%);
    background-size: 400% 100%;
    position: relative;
    overflow: hidden;
    animation: skeleton 1.4s ease infinite
}

.structured-skeleton .skeleton-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px
}

.structured-skeleton .skeleton-list .skeleton-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.structured-skeleton .skeleton-list .skeleton-item:nth-child(3),
.structured-skeleton .skeleton-list .skeleton-item:nth-child(4) {
    margin-top: 12px
}

.structured-skeleton .skeleton-list .skeleton-item-avatar {
    width: 42px;
    height: 42px;
    border-radius: 2px;
    background-color: #f5f5f5
}

.structured-skeleton .skeleton-list .skeleton-item-info {
    margin-left: 8px
}

.structured-skeleton .skeleton-list .skeleton-item-info .info-name {
    width: 90px;
    height: 14px;
    background-color: #f5f5f5;
    border-radius: 2px
}

.structured-skeleton .skeleton-list .skeleton-item-info .info-desc {
    width: 120px;
    height: 12px;
    margin-top: 8px;
    background-color: #f5f5f5;
    border-radius: 2px;
    background: #f6f5f5;
    background: linear-gradient(90deg, #f6f5f5 25%, #eee 37%, #f6f5f5 63%);
    background-size: 400% 100%;
    position: relative;
    overflow: hidden;
    animation: skeleton 1.4s ease infinite
}

.skeleton-loading {
    background: #f6f5f5;
    background: linear-gradient(90deg, #f6f5f5 25%, #eee 37%, #f6f5f5 63%);
    background-size: 400% 100%;
    position: relative;
    overflow: hidden;
    animation: skeleton 1.4s ease infinite
}

@keyframes skeleton {
    0% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.lemma-relationship-backup {
    visibility: hidden;
    height: 0
}

.lemma-relationship-backup.show-backup {
    visibility: visible;
    height: auto
}

.lemma-starmap {
    margin: 30px 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lemma-starmap .starmap-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between
}

.lemma-starmap .starmap-title .name {
    font-size: 22px;
    color: #000;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400
}

.lemma-starmap .starmap-title .more {
    text-decoration: none !important;
    outline: 0 !important;
    cursor: pointer;
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 400;
    display: none;
    color: #666
}

.lemma-starmap .starmap-title .more em {
    font-size: 12px;
    margin-left: 6px;
    vertical-align: -1px
}

.lemma-starmap .starmap-unique {
    margin-top: 12px;
    padding: 15px 20px;
    border: 1px solid #e6e6e6
}

.lemma-starmap .starmap-unique.triple-list {
    width: 236px
}

.lemma-starmap .starmap-unique.triple .starmap-unique-item-info {
    width: 172px
}

.lemma-starmap .starmap-unique.quad-list {
    width: 175px
}

.lemma-starmap .starmap-unique.quad .starmap-unique-item-info {
    width: 111px
}

.lemma-starmap .starmap-unique-title {
    font-size: 16px;
    color: #000;
    letter-spacing: 0;
    line-height: 16px;
    font-weight: 400;
    font-family: PingFangSC-Medium;
    font-weight: 500
}

.lemma-starmap .starmap-unique-title em {
    color: #666;
    font-size: 12px;
    margin-left: 6px
}

.lemma-starmap .starmap-unique-title a {
    text-decoration: none !important;
    outline: 0 !important;
    cursor: pointer;
    color: #000
}

.lemma-starmap .starmap-unique-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    margin-top: 20px
}

.lemma-starmap .starmap-unique-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none !important;
    outline: 0 !important;
    cursor: pointer
}

.lemma-starmap .starmap-unique-item-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 2px
}

.lemma-starmap .starmap-unique-item-avatar:before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .05)
}

.lemma-starmap .starmap-unique-item-info {
    margin-left: 8px
}

.lemma-starmap .starmap-unique-item-info-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 400;
    width: 100%
}

.lemma-starmap .starmap-unique-item-info-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    letter-spacing: 0;
    line-height: 12px;
    font-weight: 400;
    width: 100%;
    margin-top: 8px
}

.lemma-starmap .starmap-multi-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px
}

.lemma-starmap .starmap-multi {
    padding: 15px 20px;
    width: 390px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box
}

.lemma-starmap .starmap-multi-title {
    font-size: 16px;
    color: #000;
    letter-spacing: 0;
    line-height: 16px;
    font-weight: 400;
    line-height: 1.1;
    font-family: PingFangSC-Medium;
    font-weight: 500
}

.lemma-starmap .starmap-multi-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 94%;
    display: inline-block
}

.lemma-starmap .starmap-multi-title em {
    color: #666;
    font-size: 12px;
    margin-left: 6px
}

.lemma-starmap .starmap-multi-title a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none !important;
    outline: 0 !important;
    cursor: pointer;
    color: #000
}

.lemma-starmap .starmap-multi-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px
}

.lemma-starmap .starmap-multi-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none !important;
    outline: 0 !important;
    cursor: pointer
}

.lemma-starmap .starmap-multi-item:nth-child(3),
.lemma-starmap .starmap-multi-item:nth-child(4) {
    margin-top: 12px
}

.lemma-starmap .starmap-multi-item-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 2px
}

.lemma-starmap .starmap-multi-item-avatar:before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .05)
}

.lemma-starmap .starmap-multi-item-info {
    margin-left: 8px;
    width: 120px
}

.lemma-starmap .starmap-multi-item-info-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 400;
    width: 100%
}

.lemma-starmap .starmap-multi-item-info-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    letter-spacing: 0;
    line-height: 12px;
    font-weight: 400;
    width: 100%;
    margin-top: 8px
}

.lemma-starmap-container .swiper-container .swiper-slide {
    width: 390px
}

.lemma-starmap-container .swiper-nav {
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer
}

.lemma-starmap-container .swiper-nav.starmap-swiper-nav-prev {
    left: 0;
    background-image: url(../img/starmap-prev-icon_61ba242.svg)
}

.lemma-starmap-container .swiper-nav.starmap-swiper-nav-next {
    right: 0;
    background-image: url(../img/starmap-next-icon_bf0e8d9.svg)
}

.lemma-starmap-container .swiper-nav.swiper-nav-disabled {
    opacity: .3;
    cursor: not-allowed
}