h2 {
	background-color: slategray;
	text-align: center;
	color: ivory;
	padding: 0.5rem;
}

/* <emsp> */
emsp {
	display: inline;
	margin-left: 1rem;
}

emspd {
	display: inline;
	margin-left: 2rem;
}
/* </emsp> */

/* .c2cbd-btn start */
.c2cbd-btn {
	user-select: none;
	display: inline-block;
	outline: 0;
	cursor: pointer;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid;
	border-radius: 6px;
	color: #24292e;
	background-color: #fafbfc;
	border-color: #1b1f2326;
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
	transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	transition-property: color, background-color, border-color;
}

.c2cbd-btn:hover {
	background-color: #f3f4f6;
	border-color: #1b1f2326;
	transition-duration: 0.1s;
}

.c2cbd-btn-emoji {
	margin-left: -4px;
}
/* .c2cbd-btn end */

/* .emoji start*/
.emoji {
	width: 1rem;
}
/* .emoji end*/
