h2 {
	background-color: slategray;
	text-align: center;
	color: ivory;
	padding: 0.5rem;
}

/* <emsp> */
emsp {
	display: inline;
	margin-left: 1rem;
}

emspd {
	display: inline;
	margin-left: 2rem;
}
/* </emsp> */

.header {
	background-color: silver;
	text-align: center;
	padding: 1rem;
}

.article-content {
	background-color: whitesmoke;
	max-width: 61.80rem;
	margin: auto;
	padding: 0.5rem;
	line-height: 1.5;
}

.text-content {
	background-color: whitesmoke;
	/* 为了优化动画效果，让文字在浮现的过程中有一块背景板，防止和下面的标题和文字重叠，我才加上的这个属性。 */
	/* 不过貌似没啥用。(((φ(◎ロ◎;)φ))) */
	margin: auto 3.82%;
	text-indent: 2rem;
}

.text-content h4 {
	text-indent: initial;
}

.footer {
	background-color: silver;
	text-align: center;
	padding: 0.8rem;
	font-size: small;
	line-height: 0.8;
}

/* .c2cbd-btn start */
.c2cbd-btn {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: inline-block;
	font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	/*
	width: 100%;
	*/
	will-change: transform;
}

.c2cbd-btn:disabled {
	pointer-events: none;
}

.c2cbd-btn:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.c2cbd-btn:active {
	box-shadow: none;
	transform: translateY(0);
}
/* .c2cbd-btn end */

/* .emoji start */
.emoji {
	width: 1rem;
}
/* .emoji end */
